<html>
 <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src ="resources/Project.js"></script>
    <link rel="stylesheet" href = "/resources/Project.css">
   <center><title>About Me</title></center>
</head>
 <body>
  <form name="userGreeting">
  <label>What is your name?</label>
  <input type="text" id="username"/>
  <input type="button" id="ok_button" value="Ok"/>
</form>
   <h1><u>About Me: Justin Peterkin</u></h1>
    <h2>Hello, Stranger</h2>
     <p>I was born in Staten Island, New York and have lived there my whole life. I graduated from Curtis High School, and will attend the Macaualy Honors College at the College of Staten Island.</p>
  <div id="wall">
    <div class="frame" id = "curtis">
      <a href="https://sites.google.com/a/curtishs.org/home/Home"> <img src = "http://static.hudl.com/users/prod/322887_e2845c25393e4603ae3dd783112f505e.jpg"/></a>
    </div>
   <div id = "csi">
      <a href="https://www.csi.cuny.edu/academics-and-research/specialized-programs/honors-programs/macaulay-honors-college"><img id = "logo" src = "https://pbs.twimg.com/profile_images/469282330184400896/0i4N5Bsf_400x400.jpeg"/></a>
    </div>
<h3>How I Spent My Summer</h3>
  <p>This summer I will be attending Google's CSSI, which will teach me about computer science.</p>
<h4>Comments</h4>
<div id="comments">
        <p id="no-comments">There are no comments on this post yet.</p>
      </div>
<h3>Leave a Comment</h3>
<form id="comment-form" action="javascript:void(0);">
        <textarea id="comment-content" name="content"></textarea>
        <input type="submit" value="Post Comment">
      </form>
 </body>

</html>
